### LifeLogix Project Specific ###
# Docker-compose generated data folder
data/
# Docker-compose configuration file (if managed locally)
docker-compose.yml

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see [http://www.java.com/en/download/help/error_hotspot.xml](http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*

### Gradle ###
.gradle
backend/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignoring Gradle wrapper properties file (.properties files are usually ignored)
!gradle/wrapper/gradle-wrapper.properties

# Cache of project dependencies
.gradletasknamecache

# Gradle annotation processor cache
.apt_generated/
build-generated/

# JNA Cache
.jnacache/

### Intellij ###
# Covers IDEs like IntelliJ, WebStorm, PyCharm, RubyMine, PhpStorm, AppCode, Android Studio, CLion, GoLand, Rider, Fleet, Aqua
.idea/

# User-specific stuff
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/sqldialects.xml
.idea/shelf/

# Editor-based Rest Client
.idea/httpRequests/

# AWS User-specific stuff
.idea/aws.xml

# Build folder
/out/

# Caching files
.idea/caches/

# Gradle files
.idea/gradle.xml

# Rider files
.idea/.idea.gradle.rider/
.idea/.idea.मेटrik/
.idea/.idea.sonarlint/

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on external disk
.Trash-*

# Coredumps
/core

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
